@import 'tailwindcss';

/* globals.css */

:root {
  --font-inter: var(--font-inter); /* This is set by next/font */
  --font-source-serif-pro: var(--font-source-serif-pro); /* This is set by next/font */
}

body {
  font-family: var(--font-inter), serif; /* Default font for the body */
}

/* Example of applying Source Serif Pro Italic */
.source-serif-italic-text {
  font-family: var(--font-source-serif-pro), serif;
}

/* Example specific weights */
.inter-medium {
  font-family: var(--font-inter), serif;
  font-weight: 500; /* Medium */
}

.inter-normal {
  font-family: var(--font-inter), serif;
  font-weight: 400; /* Normal */
}

.inter-light {
  font-family: var(--font-inter), serif;
  font-weight: 300; /* Light */
}

.source-serif-pro-semi-bold {
  font-family: var(--font-source-serif-pro), serif;
  font-weight: 600; /* Semi Bold */
  font-style: italic; /* Important for Source Serif Pro Italic */
}

.source-serif-pro-normal {
  font-family: var(--font-source-serif-pro), serif;
  font-weight: 400; /* Normal */
  font-style: italic;
}

.source-serif-pro-light {
  font-family: var(--font-source-serif-pro), serif;
  font-weight: 300; /* Light */
  font-style: italic;
}